.topic-main{
    background: #fff;
    height:auto;
    padding:10px 25px 50px 25px;
    border-radius: 6px;
    box-shadow: 0 10px 14px 0 #e8ebf2;
    overflow: hidden;
    margin-bottom:20px;
    position: relative;
}

.topic-main>.title{
    color: #8da0bc;
    margin: 30px 0;
    line-height: 40px;
    text-align: right;
}

.topic-main>.title h1{
    font-size: 24px;
    color: #333;
    float: left;
}
.topic-main>.title .iconfont{
    font-size: 13px;
    margin-right: 3px;
}

.topic-main>.title time{
    margin-right: 6px;
}

.topic-main>.content {
    font-size: 15px;
    color: #7589a6;
    line-height: 26px;
    overflow: hidden;
}
.topic-main>.content h2{
    height: 20px;
    line-height: 20px;
    font-size: 17px;
    margin: 40px 0 10px 0;
    color: #495a74;
    overflow: hidden;
}
.topic-main>.content h2 i{
    float: left;
    width: 4px;
    height: 12px;
    background: #df332f;
    border-radius: 4px;
    margin: 3px 7px 0 0;
}

.topic-main>.content img{
    display: block;
    margin: 10px auto;
    max-width: 40%;
    max-height: 300px;
    border-radius: 6px;
}

.topic-main>.content a{
    margin-left: 8px;

}

.about{
    background: #fff;
    height:auto;
    padding:10px 25px;
    border-radius: 6px;
    box-shadow: 0 10px 14px 0 #e8ebf2;
    overflow: hidden;
    margin-bottom:20px;
    position: relative;
}
.about h3{
    font-size: 20px;
    margin: 10px 0;
}
.about h3 .iconfont{
    margin-right: 5px;
}
.about ul{
    margin-bottom: 20px;
}
.about li a{
    display: block;
    font-size: 16px;
    height: 20px;
    line-height: 20px;
    overflow: hidden;
}
.about li a m{
    color:#e13430
}


@media (max-width:576px) {
    .topic-main>.title h1{
        width: 100%;
        display: block;
        float: unset;
        text-align: center;
    }
    .about{
        padding:8px 15px;
    }
}